.section-inner {
	background-color: rgba(0,0,0,.7);
	padding: 0 15%;
	margin: 0 auto;
	overflow: hidden;
	min-height: 100vh;
	@include respond-to($phone) {
		padding: 0 20px;
	}
}

.container {
	img {
		width: 100%;
		height: auto;
	}
	&.music {
		img {
			width: 300px;
			clear: both;
			@include respond-to($phone) {
				width: 100%;
			}
		}
	}
}