body {
    color:#222;
    font-family: 'Oxygen', sans-serif;
    font-size:13px;
}
 
p, ul, ol, dl, blockquote, pre, dialog{
    font-size: 16px; /* 13px */
	line-height:1.5; /* 18px */
	font-weight: 200;

	strong {
		font-weight: 700;
	}
}
h1{
    font-size:2.4615em; /* 32px */
    line-height:1.125em; /* 36px */
    margin-top:0.5625em;
    margin-bottom:0em;
}
h2{
    font-size:1.5385em; /* 20px */
    font-weight:normal;
    line-height:1.8em; /* 36px */
    margin-top:0.9em;
    margin-bottom:0em;
}
h3{
    font-size: 1.2308em; /* 16px */
    line-height: 1.125em; /* 18px */
    margin-top: 1.125em;
    margin-bottom: 0em;
}
h4{
    font-size:1.0769em; /* 14px */
    line-height:1.2857em; /* 18px */
    margin-top:1.2857em;
    margin-bottom:0em;
}
h5{
    font-size:1em; /* 13px */
    line-height:1.3846em; /* 18px */
    margin:0;
}
h6{
    font-size:1em; /* 13px */
    font-weight:normal;
    font-variant:small-caps;
    letter-spacing:2px;
    line-height:1.3846em; /* 18px */
}
a {
	text-decoration: none;
	color: $white;
	transition: color 250ms ease;
	&:hover {
		color: #5c849b;
	}
}